/* * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  } */
  
body {
    font-family: 'Questrial', sans-serif;
    margin: 2em;
    background: #fff;
}
  
h1 {
    display: flex;
    color: black;
    justify-content: center;
    padding: 0px;
    font-size: 45px;
}
  
h2 {
    display: flex;
    color: black;
    margin-top: 2em;
    justify-content: center;
    border-bottom: 4px solid #253237;
}

form {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.question {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    height: 100px;
    width: 50%;
    border: 15px solid;
    padding: 20px;
    margin: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.answer-choice {
    display: inline-block;
    vertical-align: middle;
    flex-wrap: wrap;
    font-size: 25px;
    height: 75px;
    width: 20%;
    border: 15px solid;
    padding: 25px;
    margin: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    /* background-color: white; */
}

.answer-choices {
    display: flex;
    justify-content: center;
}

#answer {
    /* display: flex; */
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    height: 100px;
    width: 50%;
    border: 0;
    padding: 5px;
    margin: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
}

img {
    height: 500px;
    width: 100%;
}

